.table_caracteristiques,
.table_competences{
    /*border: solid 1px;*/
}

.table_caracteristiques thead,
.table_competences thead,
.table-listePersonnages thead{
    font-weight: bold;
}

.table_caracteristiques td,
.table_competences td,
.table-listePersonnages td{
    text-align: center;
    /*border: solid 1px;*/
}

.table_caracteristiques td input,
.table_competences td input,
.table-listePersonnages td input{
    text-align: center;
    width: 40px;
}

.table-listePersonnages td{
    width: auto;
    padding: 2px 5px;
    border-bottom-style: solid;
    border-bottom-color: #A88;
    border-bottom-width: 1px;
}

.competence-de-metatype{
    background: #777;
}

.competences-liste,
.competences-liste ul,
.equipement-liste,
.equipement-liste ul,
.affinites-liste,
.affinites-liste ul{
    display: inline;
    list-style: none;
}

.competences-liste li,
.equipement-liste li,
.affinites-liste li{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
    
    margin-right: 5px;
    margin-top: 3px;
    display: inline-flex;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    
    background-image: -webkit-linear-gradient(top,#7c1907 0,#5b1408 100%);
    background-image: -o-linear-gradient(top,#7c1907 0,#5b1408 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#7c1907),to(#5b1408));
    background-image: linear-gradient(to bottom,#7c1907 0,#5b1408 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7c1907', endColorstr='#ff5b1408', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    padding: 5px 10px 5px 10px;
    
    width: auto;
    text-align: center;    
    
    cursor: pointer;
}

.competences-liste li:hover,
.equipement-liste li:hover,
.affinites-liste li:hover{
    background: #FFF;
    color: #000;
    
    border-color: #000;
}

.competences-liste li:active,
.equipement-liste li:active,
.affinites-liste li:active{
    background: #000 !important; 
    color: #FFF;
    
    border-color: #000;
}

.long input {
    width: 250px !important;
}


.headerband{
}

.main-content{
    position: relative;
    top: 130px;
    width: 80%;
}

.center{
    text-align: center !important;
}

.recap{
    position: fixed;
    top: 45px;
    padding: 1px 0 5px 50px;
    background-color: #000;
    color: #FFF;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
    -webkit-border-radius: 0 0 20px 0;
    border-radius: 0 0 20px 0;
    width: 80%;
    max-width: 790px;
}

.recap li{
    list-style: none;
}

.breadcrumb-header{
    position: fixed;
    top: 0;    
}

.breadcrumb{    
    background: #933;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
    -webkit-border-radius: 0 0 20px 0;
    border-radius: 0 0 20px 0;
    
    display: inline;
    max-height: 50px;
    width: 80%;
    max-width: 800px;
}

.breadcrumb-footer{    
    position: fixed;
    bottom: 0;    
}

.breadcrumb>li+li:before{
    content: none;
}

.breadcrumb .btn{
    font-size: 0.9em;
}

.breadcrumb li{
    list-style: none;
}

.breadcrumb li a{
    color: #FFF;
}

.breadcrumb li a:hover{
    background: #FFF;
    color: #000;
}

.toolbar{
    margin: 10px 2px;
}

.disabled {
    cursor: not-allowed;
}

.glyphicon-medium{
    font-size: 1.5em;
}

.glyphicon-large{
    font-size: 2em;
}

.glyphicon-remove{
    color: #F00;
}

.glyphicon-remove:hover{
    color: #F55;
}

.btn-success {
    color: #FFF;
    
    background-image: -webkit-linear-gradient(top,#7c1907 0,#5b1408 100%);
    background-image: -o-linear-gradient(top,#7c1907 0,#5b1408 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#7c1907),to(#5b1408));
    background-image: linear-gradient(to bottom,#7c1907 0,#5b1408 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7c1907', endColorstr='#ff5b1408', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #000;
    width: 36px;
}

.btn-success:hover{
    background: #FFF;
    color: #000;
}

.btn-success:active{
    background: #000 !important; 
    color: #FFF;
}