.table_caracteristiques,
.table_competences{
    /*border: solid 1px;*/
}

.table_caracteristiques thead,
.table_competences thead{
    font-weight: bold;
}

.table_caracteristiques td,
.table_competences td{
    text-align: center;
    /*border: solid 1px;*/
}

.table_caracteristiques td input,
.table_competences td input{
    text-align: center;
    width: 40px;
}

.competence-de-metatype{
    background: #a56af2;
}

.competences-liste,
.competences-liste ul{
    display: inline;
    list-style: none;
}

.competences-liste li{
    margin-right: 5px;
    display: inline-flex;
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    background: #8f0d0d;
    padding: 5px 10px 5px 10px;
    
    width: auto;
    text-align: center; 
}

.competences-liste .active{
    background-color: #000;
    color: #FFF;
}

.competences-liste li:hover{
    background: #e68f8f;
    text-decoration: none;
    cursor: copy;
}

.long input {
    width: 250px !important;
}

/******** classes génériques ********/
.main-content{/* pour usage futur*/}

.center{
    text-align: center !important;
}

.recap{
    margin-top: 50px;
    padding: 10px;
    background-color: #428bca;
    border-color: #357ebd;
    color: #FFF;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
    transition: all 0.8s ease;
    -webkit-border-radius: 0 0 20px 0;
    border-radius: 0 0 20px 0;
    width: 80%;
}

.recap li{
    list-style: none;
}

.breadcrumb{
    background: none;
    display: inline;
    max-height: 50px;
}

.breadcrumb-header{
    position: fixed;
    top: 0;    
}

.breadcrumb-footer{    
    position: fixed;
    bottom: 0;    
}

.breadcrumb>li+li:before{
    content: none;
}

.breadcrumb .btn{
    font-size: 0.9em;
}

.breadcrumb li{
    list-style: none;
}

.toolbar{
    margin: 10px 2px;
}

.disabled {
    cursor: not-allowed;
}

.glyphicon-medium{
    font-size: 1.5em;
}

.glyphicon-large{
    font-size: 2em;
}

.glyphicon-remove{
    color: #F00;
}

.glyphicon-remove:hover{
    color: #F55;
}