<toolbar></toolbar>
<h2><a class="btn btn-warning btn-small" ng-click="montrerAstuce=!montrerAstuce"><span class="glyphicon glyphicon-info-sign"></span></a>|{{ etapeActuelle }}</h2>
<p ng-show="montrerAstuce">{{ etapeAstuce }}</p>
<hr>
<h3>Affinités du Paragon</h3>
<br>
<ul>
    <li>
        <strong>Géopolitique: </strong>{{ personnage.affiniteGeopolitique.nom }}
    </li>
    <li>
        <strong>Politique: </strong>{{ personnage.affinitePolitique.nom }}
    </li>
    <li>
        <strong>Mystique: </strong>{{ personnage.affiniteMystique.nom }}
    </li>
    <li>
        <strong>Moeurs: </strong>{{ personnage.affiniteMoeurs.nom }}
    </li>
</ul>
<h3>Liste des Affinités</h3>
<ul class="affinites-liste">
    <h4>Géopolitique</h4>
    <li ng-repeat="affinite in constantes.affinitesGeopolitiquesListe | orderBy:'nom'" ng-click="personnage.affiniteGeopolitique = affinite;" data-toggle="tooltip" title="{{affinite.description}}">{{ affinite.nom }}</li>
    <h4>Politique</h4>
    <li ng-repeat="affinite in constantes.affinitesPolitiquesListe | orderBy:'nom'" ng-click="personnage.affinitePolitique = affinite;" data-toggle="tooltip" title="{{affinite.description}}">{{ affinite.nom }}</li>
    <h4>Mystiques</h4>
    <li ng-repeat="affinite in constantes.affinitesMystiquesListe | orderBy:'nom'" ng-click="personnage.affiniteMystique = affinite;" data-toggle="tooltip" title="{{affinite.description}}">{{ affinite.nom }}</li>
    <h4>Moeurs</h4>
    <li ng-repeat="affinite in constantes.affinitesMoeursListe | orderBy:'nom'" ng-click="personnage.affiniteMoeurs = affinite;" data-toggle="tooltip" title="{{affinite.description}}">{{ affinite.nom }}</li>
</ul>