<div class="toolbar">
    <a ng-click="personnage.aleatoire();" class="btn btn-success" data-toggle="tooltip" title="Met des valeurs aléatoires dans les Caractéristiques etc."><span class="glyphicon glyphicon-random"></span></a>
    <a ng-click="personnage.creer();" class="btn btn-success" data-toggle="tooltip" title="Générer un tout nouveau personnage"><span class="glyphicon glyphicon-plus"></span></a>
    <a ng-click="personnage.exporter();" class="btn btn-success" data-toggle="tooltip" title="Exporter le personnage"><span class="glyphicon glyphicon-save"></span></a>
    <label>Format d'exportation</label><select ng-model="formatExportation" ng-options="formatExportation for formatExportation in formatsExportation"></select>
</div>
<h2>{{ etapeActuelle }}</h2>
<p>Ce wizard de génération de Paragon pour Ichorpunk vous accompagne dans la création manuelle de vos Paragons.</p>