<h2>{{ etapeActuelle }}</h2>
<p>Ce wizard de génération de Paragon pour Ichorpunk vous accompagne dans la création manuelle de vos Paragons.</p>
<h3>Liste des personnages actuellement sauvés localement</h3>
<div ng-show="personnage.listePersonnages.length === 0">
    <p>Aucun personnage sauvé</p>
</div>
<div ng-show="personnage.listePersonnages.length > 0">
    <table class="table-listePersonnages" >
        <thead>
            <th>UUID</th>
            <th>Metatype</th>
            <th>Axe</th>
            <th>Nom</th>
            <th>Age</th>
            <th>Sexe</th>
            <th>Origine</th>
            <th>Actions</th>
        </thead>
        <tr ng-repeat="persoRedux in personnage.listePersonnages">
            <td data-toggle="tooltip" title="{{ persoRedux.uuid }}">{{ persoRedux.uuid.substring(0,5)+'...' }}</td>
            <td>{{ persoRedux.metatype }}</td>
            <td>{{ persoRedux.axe }}</td>
            <td>{{ persoRedux.nom }}</td>
            <td>{{ persoRedux.age }}</td>
            <td>{{ persoRedux.sexe }}</td>
            <td>{{ persoRedux.origine }}</td>
            <td>
                <a ng-click="personnage.charger(persoRedux.uuid);" class="btn btn-success" data-toggle="tooltip" title="Charger le personnage"><span class="glyphicon glyphicon-open"></span></a>
                <a ng-click="personnage.supprimer(persoRedux.uuid);" class="btn btn-success" data-toggle="tooltip" title="Supprimer le personnage"><span class="glyphicon glyphicon-trash"></span></a>
            </td>
        </tr>
    </table>
</div>